{% extends 'base.html' %}
{% block Title %}New Pet Form{% endblock %}

{% block Body %}
<h1>Add New Pet</h1>

<form action="/add" method="post">
  {{form.hidden_tag()}}

  <div class="mb-3">
    {{ form.name.name.label(class_='form-label') }}
    {{ form.name(class_='form-control') }}
  </div>

  <div class="mb-3">
    {{ form.species.label(class_='form-label') }}
    {{ form.species(class_='form-control') }}
  </div>

  <div class="mb-3">
    {{ form.photo_url.label(class_='form-label') }}
    {{ form.photo_url(class_='form-control') }}
  </div>

  <div class="mb-3">
    {{ form.age.label(class_='form-label') }}
    {{ form.age(class_='form-control') }}
  </div>

  <div class="mb-3">
    {{ form.notes.label(class_='form-label') }}
    {{ form.notes(class_='form-control') }}
  </div>

  <button type="submit">Submit</button>
</form>
{% endblock %}