{% extends 'base.html' %}
{% block Title %}Home{% endblock %}

{% block Body %}
<h1>Pets for Adoption</h1>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4"></div>
  {% for pet in pets %}
  <div class="col">
    <div class="card h-100">
      <img src="{{pet.photo_url}}" class="card-img-top" alt="Photo of {{pet.name}}">
      <div class="card-body">
        <h5 class="card-title"><a href="/pets/{{pet.id}}">{{pet.name}}</a></h5>
        <p class="card-text">Hi! I'm {{pet.name}} the {{pet.species}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          {% if pet.available %}
          <b>Is Available</b>
          {% else %}
          Being Adopted
          {% endif %}
        </small>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  <a href="/add" class="btn btn-secondary">Add Pet</a>
</div>
{% endblock %}